@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 400;
	color: #fff;
}

a {
	text-decoration: none;
}

img {
	max-width: 80%;
}

.wrapper{
	background: 
	url('../img/wave.png') no-repeat bottom center / 100% 40%, 
	linear-gradient(145deg, rgba(74, 33, 134, 1) 0%, rgba(179, 135, 244, 1) 100%);
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	width: 1440px;
	margin: 0 auto;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

header {
	width: 100%;
	border-bottom: 2px solid #fff;
	position: relative;
	z-index: 2;
}

header nav ul {
	list-style: none;
	display: flex;
	align-itmes: center;
	gap: 50px;
}

header nav ul li {
	display: inline-block;
}

header nav ul li a {
	color: #fff;
}

header nav ul li:not(.loginBtn) a:hover {
	border-bottom: 2px solid #fff;
}

header nav ul li.loginBtn a {
	border: 2px solid #fff;
	padding: 10px 25px;
	border-radius: 20px;
	transition: all 500ms ease
}

header nav ul li.loginBtn a:hover {
	border: 2px solid #BFBFBF;
	color: #BFBFBF;
}

.hero {
	padding-top: 60px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	position: relative;
}

.hero--info {
	padding-top: 30px;
}

.hero--invite {
	width: 800px;
}

.hero--invite h1 {
	font-size: 64px;
}

.hero--buttons {
	padding-top: 10px;
	display: flex;
	gap: 50px;
}

.hero--buttons .heroLogBtn, 
.hero--buttons .heroRegBtn {
	display: inline-block;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	border-radius: 20px;
	padding: 15px 30px;
	font-size: 36px;
	color: #fff;
	transition: all 500ms ease;
	z-index: 2;
}

.heroLogBtn {
	background: #5850CF;
}

.heroRegBtn {
	background: #7F4CDA;
}

.heroLogBtn:hover, .heroRegBtn:hover {
	cursor: pointer;
	transform: scale(1.1)
}

.hero img {
	position: absolute;
	top: -213px;
	right: -100px;
	z-index: 1;
}

.hero--info {
    margin-top: 70px;
    padding: 30px;
    width: fit-content;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);        
    border: 2px solid rgba(255, 255, 255, 0.4); 
    border-radius: 30px;                
    position: relative;                
    z-index: 2;
}

.hero--info h2 {
    background-color: #E6D9FF; 
    color: #4A2186;    
    padding: 10px 40px;
    border-radius: 50px;
    font-size: 24px;
    display: inline-block;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.hero--info ul {
    list-style: none;
    padding-top: 20px;
}

.hero--info ul li {
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.hero--info ul li::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 15px;
}