nav {
	display: flex;
	align-items: center;
	gap: 40px;
}

nav a img {
	display: block;
	width: 70px;
	height: 70px;
	object-fit: contain;
}

.stats {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.stats-section {
    width: 100%;
}

.stats-title {
    background: #9471D1;
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 15px 15px 0 0;
    font-size: 24px;
    margin: 0;
}

.stats-content {
    background: #D9D9D9;
    border-radius: 0 20px 20px 20px;
    padding: 30px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.stats-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.stats-box {
    background: #A6A6A6;
    flex: 1;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
}

.stats-wide-box {
    background:
    width: 100%;
    height: 300px;
    border-radius: 15px;
}